<div id="{{ TableDatasource.id }}" class="card_table" [style.border-color]="TableDatasource.color">
    <div class="row w-100">
        <div class="col-12" style="text-align: end;">
            <p style="font-size: 10px;" [style.color]="TableDatasource.color">
                <i class="fa-solid fa-circle fa-xs"></i>
            </p>
        </div>
        <div class="col-12" style="text-align: center;">
            <ngx-emoji emoji="{{ TableDatasource.icon }}"></ngx-emoji>
        </div>
    </div>
</div>